<section id="login_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Identifiants de connexion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Login administrateur : admin@admin.fr</p>
            <p>Mot de passe administrateur : Cvtic2022//</p>
            <p>Login utilisateur : login@login.fr</p>
            <p>Mot de passe utilisateur : Cvtic2022//</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</section>