{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    {{parent()}}
    <main class="container">
        <h1>Créer une catégorie</h1>
        {{ include('category/_form.html.twig') }}
        <a href="{{ path('category_index') }}" class="btn btn-primary d-flex justify-content-between align-items-center"><i class='bx bx-left-arrow-alt'></i><span>Retour</span></a>
    </main>
{% endblock %}
