{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    {{parent()}}
    <main class="container">
        <h1>Créer une catégorie</h1>
        {{ include('category/_form.html.twig') }}
        <a href="{{ path('category_index') }}">Retour</a>
    </main>
{% endblock %}
