{# Section titres #}
<section id="login_header" class="text-center mb-5 mt-5">
    <h1>Bienvenue sur le blog du groupe 5</h1>
    <p>Entrez votre mot nom d'utilisateur et votre mot de passe pour accéder aux articles</p>
</section>