{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    {# Modal d'identifiants #}
    {{ include('login/_modal_login.html.twig') }}

    {# Section titres #}
    <section id="login_header" class="text-center mb-5 mt-5">
        <h1>Bienvenue sur le blog du groupe 5</h1>
        <p>Entrez votre mot nom d'utilisateur et votre mot de passe pour accéder aux articles</p>
    </section>

   {# Formulaire de connexion #}
    {{ include('login/_form_login.html.twig') }}
    
    {# Modal toggle #}
    <div class="text-center mt-3">
        <a href="#">
            <p id="forgotten_password_btn" class="lead" data-bs-toggle="modal" data-bs-target="#login_modal">Pas d'identifiants ?</p>
        </a>
    </div>

{% endblock %}
