/* Reset */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login_form{
    width : 45%;
    margin-inline: auto;
    display: flex;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: lightgrey;
}
#login_form h2:after{
  content: '*';
  color: red;
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 0.2em;
}
#login_form input{
  padding-block: 0.2rem;
}
#login_form input::placeholder{
  font-style: italic;
}
#login_btn{
    display: block;
    margin-top: 2rem;
}
.extrait{
  width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1.5rem;
}
.published{
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
  display: block;
}