/* Reset */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.card{
  padding: 0;
}

.card-header span{
  margin-left: 10px;
}

.nav-link span{
  margin-right: 5px;
}

.nav-link{
  margin-right: 10px;
}

button span{
  margin-left: 10px;
}

/* BEGIN: Login */

.login_form{
    width : 45%;
    margin-inline: auto;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: lightgrey;
}

#login_form h2:after, form[name="registration_form"] div:not(:last-of-type) label:after{
  content: '*';
  color: red;
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 0.2em;
}

#login_form input, form[name="registration_form"] div input{
  padding-block: 0.2rem;
}

#login_form input::placeholder{
  font-style: italic;
}

#login_btn{
    display: block;
    margin-top: 2rem;
}

#forgotten_password_btn{
  padding-left: 1rem;
}

/* END: Login */

/* BEGIN: Register */

form[name="registration_form"] div:not(:last-of-type){
  display: flex;
  flex-direction: column;
}
form[name="registration_form"] div label{
  font-weight: 500;
  font-size: 1.4rem;
  padding-block: 0.3rem;
}
form[name="registration_form"] div input{
  border-radius: 8px;
  border: none;
}

/* END: Register */

/* BEGIN: Pagination */
.pagination{
  margin-top: 20px;
}

.current, .previous, .next{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

.page{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: solid 1px #dee2e6;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.current a, .previous a, .next a{
  color: #fff;
  text-decoration: none;
}

.first, .last{
  display: none;
}

.page a{
  text-decoration: none;
}

/* END: Pagination */

#article_content{
  min-height: 200px;
}

.published{
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
  display: block;
}

.delete_edit {
    display: flex;
    justify-content: space-between;
}

.bi-arrow-return-left {
    font-size: 16px;
}