{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Ajout de la balise Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#Le css Bootstrap est en dehors du bloc stylsheets pour qu'il ne soit pas écrasé par un éventuel appel au bloc sur une autre page#}
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}" >
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Include de la nav bar sur toute les pages#}
        {% include "includes/navbar.html.twig" %}

        <div class="container mt-5">

            {% block body %}{% endblock %}

        </div>
        {#Le script Bootstrap est en dehors du bloc javascript pour qu'il ne soit pas écrasé par un éventuel appel au bloc sur une autre page#}
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
