<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Ajout de la balise Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#Le css Bootstrap est en dehors du bloc stylsheets pour qu'il ne soit pas écrasé par un éventuel appel au bloc sur une autre page#}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Include de la nav bar sur toute les pages#}
        {% include "assets/navbar.html.twig" %}

        {% block body %}{% endblock %}

        {#Le script Bootstrap est en dehors du bloc javascript pour qu'il ne soit pas écrasé par un éventuel appel au bloc sur une autre page#}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
