<form method="post" class="mt-2 d-flex justify-content-end" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes-vous certains de vouloir effacer cet article?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger d-flex justify-content-between align-items-center"><i class='bx bx-trash'></i><span>Supprimer</span></button>
</form>
