{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    {{parent()}}
    <main class="container">
        <h1>Créer un nouvel article</h1>
        <section class="row">
            {{ include('article/_form.html.twig') }}
        </section>
        <a href="{{ path('article_index') }}" class="btn btn-primary d-flex justify-content-between align-items-center"><i class='bx bx-left-arrow-alt'></i><span>Retour</span></a>
    </main>
{% endblock %}
