{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    {{parent()}}
    <main class="container">
        <h1>Créer un nouvel article</h1>
        <section class="row">
            {{ include('article/_form.html.twig') }}
        </section>
        <a href="{{ path('article_index') }}">Retour</a>
    </main>
{% endblock %}
